.counter-app {
  background: yellowgreen;
  padding: 30px;
  border-radius: 10px;
  h2 {
    font-style: italic;
    font-size: 2rem;
  }
  button {
    padding: 5px;
    background: red;
    color: #fff;
    border: none;
    margin: 0 5px;
  }
}
